{% load static %}
<div class="product_wrapper" id="{{product.pk}}">
    <div class="prod_container">
        <div onclick="location.href='{% url 'product_detail' product.slug %}';">
            <div class="company_prod_info">
                <span class="free_delivery_text">Pulsuz çatdırılma</span>
                <span class="offical_guarantee_text">Rəsmi zəmanət</span>
            </div>
            <img src="{{product.image.url}}" alt="{{ product.name }}" class="product-img" />
            <div class="prod_detail">
                <div>
                    <h4>
                        {{ product.name }}
                    </h4>
                    {% if product.discount_amount is None %}
                    <p class="prod_price"><b>{{ product.price }} AZN</b></p>
                    {% else %}
                    <p class="prod_del_amount"><del>{{ product.price }} AZN</del></p>
                    <p class="prod_discoun_amount"><b>{{ product.discount_amount |floatformat:2  }} AZN</b></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <form class="prod-cart-btn">
            {% csrf_token %}
            <input type="hidden" value={{product.pk}} name="product">
            <button hx-post="{% url 'add_to_cart' %}" hx-target="#{{product.pk}}">Səbətə at</button>
        </form>
    </div>
    <div class="prod-attr">
        {% for attribute in product.attributes.all %}
            {% for attribute_value in attribute.attribute_values.all %}
                {% if attribute_value.attribute.show_cart == True %}
                <div>
                    <b>{{attribute_value.attribute}}:</b>
                    <span>{{attribute_value.value}}</span>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>