{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
<div class="div-first-a">
  <div class="cover-a">
    <img class="cover-img-a" src="{% static 'images/cover_img.jpeg' %}" />
  </div>
  <div class="cov-div-a">
    <div class="cov-div-p-a">
      <p class="cov-p-a">Haqqımızda</p>
    </div>
  </div>
</div>
<div class="about-div">
  <img class="about-img" src="{% static 'images/itch-img.jpeg' %}" />
  <p class="about-p">
    ”İTech Shop” olaraq Yüksək texnologiyaya məxsus və həmçinin yaşam səviyyənizi yüksəldəcək, işlərinizi və istirahətinizi rahatlaşdıracaq elektronik və portativ məhsulların Azərbaycana idxalını, həmçinin ölkənin paytaxt və regionlarına operativ satışını həyata keçiririk.
    Məhsulları seçərkən ən prioritet hədəfimiz sizin rahatlığınızı yaratmasıdır və hər bir məhsulu ilk olaraq sınaq raportu edirik(dəyərindən asılı olmayaraq) və uyğun bildikdən sonra satış üçün sizlərə təklif edirik.
    Bu tip məhsulların Respublikamıza idxalını edən ilk şirkətik. Yeni sektor açaraq əhalimizin həyat, yaşayış səviyyəsinin yaxşılaşdırılmasına öz töhfəmizi veririk.
    Sürətlə inkişaf edən və böyüyən şirkətimiz, tezliklə daha kreativ və portativ məhsulların istehsalçısı olacaqdır.
  </p>
</div>
{% endblock content %}