{% extends 'partials/_base.html' %} 
{% load static %}
{% block title %}Ana Səhifə{% endblock title %}
{% block content %}
<div class="message-alert">
    {% if messages %} 
    {% for message in messages %}
    <div class="message-alert-body {% if message.tags == 'error' %} alert-danger {% else %} alert {% endif %} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" style="color: #fff !important;" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 
    {% endif %}
</div>
<div class="home-container">
    <section class="hamburger-search">
        <form action="{% url 'products' %}" method="GET" class="select-form">
          <input type="text" name="name" placeholder="Axtarış...">
          <button type="submit">
              <i class="fas fa-search"></i>
          </button>
        </form>
      </section>
    {% include 'partials/_section_header.html' %}
    <section class="section-contain">
        <div class="section-title-container">
            <h3 class="section-title mb-4"><b>Məhsullar</b></h3>
        </div>
        {% if products.count == 0 %}
            <div class="not-found">
                <p style="font-size: 2em;">Məhsul tapılmadı</p>
            </div>
        {% else %}
            <div class="product-body" id="product_id">
                <div class="home-product-slider">
                    <div>
                        {% if page_obj.has_previous %}
                        <a hx-get="{% url 'index_products_pagination_view' %}?page={{ page_obj.previous_page_number }}" hx-target="#product_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
                        {% else %}
                        <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
                        {% endif %}
                    </div>
                    <div class="home-product-slider-prod-carts">
                        {% for product in products %}
                        {% include 'product_cart.html' %}
                        {% endfor %} 
                    </div>
                    <div>
                        {% if page_obj.has_next %}
                        <a hx-get="{% url 'index_products_pagination_view' %}?page={{ page_obj.next_page_number }}" hx-target="#product_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
                        {% else %}
                        <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'products' %}" class="btn-more">Bütün məhsulları gör</a>
            </div>
        {% endif %}
    </section>
    <section class="section-contain">
        <div class="section-title-container">
            <h3 class="section-title mb-4"><b>Xidmətlər</b></h3>
        </div>
        {% if services.count == 0 %}
            <div class="not-found">
                <p style="font-size: 2em;">Servis tapılmadı</p>
            </div>
        {% else %}
            <div class="service-body" id="service_id">
                <div class="home-product-slider">
                    <div>
                        {% if page_obj.has_previous %}
                        <a hx-get="{% url 'index_services_pagination_view' %}?page={{ page_obj.previous_page_number }}" hx-target="#service_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
                        {% else %}
                        <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
                        {% endif %}
                    </div>
                    <div class="home-service-slider">
                        {% for service in services %}
                        <div class="serv_container">
                            <img src="{{ service.image.url }}" alt="{{ service.name }}" class="service-img"/>
                            <div class="serv_detail">
                                <div>
                                    <h4>{{ service.name }}</h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div>
                        {% if page_obj.has_next %}
                        <a hx-get="{% url 'index_services_pagination_view' %}?page={{ page_obj.next_page_number }}" hx-target="#service_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
                        {% else %}
                        <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'services' %}" class="btn-more">Bütün xidmətləri gör</a>
            </div>
        {% endif %}
    </section>
    <section class="section-contain">
        <div class="section-title-container">
            <h3 class="section-title mb-4"><b>Partnyorlar</b></h3>
        </div>
        <div class="partners-body" id="partners_id">
            {% if page_obj.has_previous %}
            <a hx-get="{% url 'index_partners_pagination_view' %}?page={{ page_obj.previous_page_number }}" hx-target="#partners_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
            {% else %}
            <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
            {% endif %}
            <div class="pattern-slide-container">
                {% for partner in partners %}
                <div class="partners-slide">
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                </div>
                {% endfor %}
            </div>
            {% if page_obj.has_next %}
            <a hx-get="{% url 'index_partners_pagination_view' %}?page={{ page_obj.next_page_number }}" hx-target="#partners_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
            {% else %}
            <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
            {% endif %}
        </div>
    </section>
</div>
{% endblock content %}

{% block custom_js %}
<script>
var countDownDateStr = document.getElementById("coll_end_date").value
var countDownDate = new Date(countDownDateStr).getTime();
var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("demo").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
{% endblock custom_js %}