{% extends 'partials/_base.html' %} 
{% load static %}
{% block title %}Ana Səhifə{% endblock title %}
{% block content %}
<div class="message-alert" id="message">
    {% if messages %} 
    {% for message in messages %}
    <div class="message-alert-body {% if message.tags == 'error' %} alert-danger {% else %} alert {% endif %} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" style="color: #fff !important;" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 
    {% endif %}
</div>
<div class="home-container">
    <section class="hamburger-search">
        <form action="{% url 'products' %}" method="GET" class="select-form">
          <input type="text" name="name" placeholder="Axtarış...">
          <button type="submit">
              <i class="fas fa-search"></i>
          </button>
        </form>
    </section>
    {% include 'partials/_section_header.html' %}
    <section class="section-contain">
        <div class="section-title-container">
            <h3 class="section-title mb-4"><b>Məhsullar</b></h3>
        </div>
        {% if products is None %}
            <div class="not-found">
                <p style="font-size: 2em;">Məhsul tapılmadı</p>
            </div>
        {% else %}
            {% if products.count == 0 %}
                <div class="not-found">
                    <p style="font-size: 2em;">Məhsul tapılmadı</p>
                </div>
            {% else %}
                <div class="owl-carousel owl-theme owl-loaded" id="home-products" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px">
                    {% for product in products %}
                        {% include 'product_cart.html' %}
                    {% endfor %} 
                </div>
                <a href="{% url 'products' %}" class="btn-more">Bütün məhsulları gör</a>
            {% endif %}
        {% endif %}
    </section>
    <section class="section-contain">
        <div class="section-title-container">
            <h3 class="section-title mb-4"><b>Xidmətlər</b></h3>
        </div>
        {% if services.count == 0 %}
            <div class="not-found">
                <p style="font-size: 2em;">Servis tapılmadı</p>
            </div>
        {% else %}
            <div class="owl-carousel owl-theme owl-loaded" id="home-services" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px">
                {% for service in services %}
                    <div class="serv_container">
                        <img src="{{ service.image.url }}" alt="{{ service.name }}" class="service-img"/>
                        <div class="serv_detail">
                            <div>
                                <h4>{{ service.name }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{% url 'services' %}" class="btn-more">Bütün xidmətləri gör</a>
        {% endif %}
    </section>
    <section class="section-contain">
        <div class="section-title-container">
            <h3 class="section-title mb-4"><b>Partnyorlar</b></h3>
        </div>
        <div class="partners-body">
            <div class="owl-carousel owl-theme owl-loaded" id="home-partners" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px">
                {% for partner in partners %}
                <div class="partners-slide">
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block custom_js %}
<script>
var countDownDateStr = document.getElementById("coll_end_date").value
var countDownDate = new Date(countDownDateStr).getTime();

var x = setInterval(function() {
    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("demo").innerHTML = `
        <div class="dealTimer_wrapper">
            <div class="dealTimer">
                <span class="dealTimer_body">${days}</span>
                <span class="dealTimer_title">gün</span>
            </div>
            <div class="dealTimer__vert"></div>
            <div class="dealTimer">
                <span class="dealTimer_body">${hours}</span>
                <span class="dealTimer_title">saat</span>
            </div>
            <div class="dealTimer__vert"></div>
            <div class="dealTimer">
                <span class="dealTimer_body">${minutes}</span>
                <span class="dealTimer_title">dəqiqə</span>
            </div>
            <div class="dealTimer__vert"></div>
            <div class="dealTimer">
                <span class="dealTimer_body">${seconds}</span>
                <span class="dealTimer_title">saniyə</span>
            </div>
        </div>
    `

    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
}, 1000);

message = document.getElementById("message")
setTimeout(() => {
    message.style.display="none";
}, 4000)
</script>
{% endblock custom_js %}