{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
<div class="message-alert">
  {% if messages %} 
    {% for message in messages %}
      <div class="message-alert-body {% if message.tags == 'error' %} alert-danger {% else %} alert {% endif %} alert-dismissible fade show" role="alert">
          {{message}}
      </div>
    {% endfor %}
  {% endif %}
</div>
<div class="first-div">
  <div class="cover">
    <img class="cover-img" src="{% static 'images/cover_img.jpeg' %}" />
  </div>
  <div class="cov-div">
    <!-- <div class="cov-div-1"> -->
      <div class="cov-div-p">
        <p class="cov-p">Online alışveriş üçün ən doğru seçim</p>
        <p class="cov-p">Sürətli çatdırılma</p>
      </div>
    <!-- </div> -->
      <a href="#contact" class="cov-button btn-shadow">Əlaqə</a>
  </div>
</div>
<div class="products">
  <div class="pro-h">
    <h1 class="pro-h-1">Məhsul</h1>
    <h1 class="pro-h-2">larımız</h1>
  </div>
  <div class="products-div">
    {% if products.count == 0 %}
        <p style="font-size: 2em; text-align: center;">Məhsul tapılmadı</p>
    {% else %}
        {% for product in products %}
        <div class="prod_container">
            <img src="{{product.image.url}}" alt="{{ product.name }}" class="product-img" />
            <div class="prod_detail">
                <div>
                    <h4>
                        {{ product.name }}
                    </h4>
                    <p>{{ product.price }} AZN</p>
                </div>
                <a href="{% url 'product_detail' product.slug %}">Ətraflı</a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
  </div>
  <a href="{% url 'products' %}" class="cov-button pro-button pro-button-p btn-shadow">Daha Çox...</a>
</div>
<div class="services">
  <div class="pro-h">
    <h1 class="pro-h-1">Xidm</h1>
    <h1 class="pro-h-2">ətlər</h1>
  </div>
  <div class="products-div">
    {% if services.count == 0 %}
        <p style="font-size: 2em; text-align: center;">Servis tapılmadı</p>
    {% else %}
        {% for service in services %}
        <div class="prod_container">
          <img src="{{ service.image.url }}" alt="{{ service.name }}" class="product-img" />
            <div class="prod_detail">
                <div>
                    <h4>
                        {{ service.name }}
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
  </div>
  <a href="{% url 'services' %}" class="cov-button pro-button pro-button-p btn-shadow">Daha Çox...</a>
</div>
<div class="contact" id="contact">
  <div class="pro-h">
    <h1 class="pro-h-1">Əla</h1>
    <h1 class="pro-h-2">qə</h1>
  </div>
  <form class="form" action="{% url 'contact' %}" method="POST">
    {% csrf_token %}
    <div class="form-div">
      <div class="inputs-name">
        {{contact_form.first_name}}
        {% for error in contact_form.first_name.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{contact_form.last_name}}
        {% for error in contact_form.last_name.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      {{contact_form.email}}
      {% for error in contact_form.email.errors %}
          <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{contact_form.phone}}
      {% for error in contact_form.phone.errors %}
          <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{contact_form.message}}
      {% for error in contact_form.message.errors %}
          <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <button class="contact-button btn-shadow">
        <a class="contact-button-p">Göndər</a>
      </button>
    </div>
  </form>
</div>
{% endblock content %}