{% load static %}

<header>
    <a class="logo" href="{% url 'home' %}"><img class="img" src="{% static 'images/itch-shp.jpeg' %}"/></a>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li>
              <a class="{% if '/' == request.path %}active{% endif %}" href="{% url 'home' %}">Ana Səhifə</a>
            </li>
            <li>
              <a class="{% if 'about' in request.path %}active{% endif %}" href="{% url 'about' %}">Haqqımızda</a>
            </li>
            <li>
              <a class="{% if 'products' in request.path %}active{% endif %}" href="{% url 'products' %}">Məhsullar</a>
            </li>
            <li>
              <a class="{% if 'services' in request.path %}active{% endif %}" href="{% url 'services' %}">Xidmətlər</a>
            </li>
        </ul>
    </nav>
</header>
