{% load static %}
<section class="header-container">
    <div class="category">
        <ul class="main-ul">
            {% for category in categories %}
            <li class="category-dropdown">
                <a href="{% url 'products' %}?category={{category.pk}}">
                    {% if category.icon.url is not None %}
                    <img src="{{ category.icon.url }}" alt="category.name">
                    {% endif %}
                    <p>{{ category.name }}</p>
                </a>
                <hr>
                {% if category.children.all.count != 0 %}
                <div class="category-children">
                    <ul class="row">
                        {% for ct in category.children.all %}
                        <li class="col-sm-3">
                            <a href="{% url 'products' %}?category={{ct.pk}}">
                                {% if ct.icon.url is not None %}
                                <img src="{{ ct.icon.url }}" alt="ct.name">
                                {% endif %}
                                <p>{{ ct.name }}</p>
                            </a>
                            <hr>
                            <ul class="category-children-children">
                                {% for c in ct.children.all %}
                                <li>
                                    <a href="{% url 'products' %}?category={{c.pk}}">
                                        {% if c.icon.url is not None %}
                                        <img src="{{ c.icon.url }}" alt="c.name">
                                        {% endif %}
                                        <p>{{ c.name }}</p>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="home-main-categories">
            <p>Əsas Kateqoriyalar:</p>
            <div class="home-main-categories-container">
                {% for category in categories %}
                <a href="{% url 'products' %}?category={{category.pk}}" class="home-main-categories-subcategory">
                    {% if category.icon.url is not None %}
                    <img src="{{ category.icon.url }}" alt="category.name">
                    {% endif %}
                    <p>{{ category.name }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <section class="post-carousel">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% if banners.count != 0 %}
                    {% for banner in banners %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} index-carousel" id="{{banner.pk}}">
                        <img src="{{banner.image.url}}" class="d-block w-100 index-carousel-img " alt="{{banner.title}}">
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="carousel-item active index-carousel">
                        <img src="{% static 'images/default2.jpg' %}" class="d-block w-100 index-carousel-img " alt="default">
                    </div>
                {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section class="offer">
        <div class="offer-head">
            {% if collection.title is not None %}
            <p>{{collection.title}}</p>
            {% else %}
            <p>Həftənin Təklifi</p>
            {% endif %}
            {% if collection.end_date != None %}
            <input type="datetime" id="coll_end_date" style="display: none;" value="{{collection.end_date|date:"M d, Y H:i:s"}}"/>
            {% endif %}
            <div id="demo"></div>
        </div>
        <div class="offer-body">
            <div id="carouselBannerFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% if collection_prods|length != 0 %}
                        {% for product in collection_prods %}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %} index-carousel" id="{{product.pk}}">
                            <div class="offer_product_wrapper" id="{{product.pk}}">
                                <div onclick="location.href='{% url 'product_detail' product.slug %}';" class="home_prod_container">
                                    <span class="free_delivery_text">Pulsuz çatdırılma</span>
                                    <div class="home_prod_img_detail_container">
                                        <img src="{{product.image.url}}" alt="{{ product.name }}" class="product-img" />
                                        <div class="home_prod_detail">
                                            <div>
                                                <h4>
                                                    {{ product.name }}
                                                </h4>
                                                {% if product.discount_amount is None %}
                                                <b><p>{{ product.price }} AZN</p></b>
                                                {% else %}
                                                <del><p>{{ product.price }} AZN</p></del>
                                                <b><p>{{ product.discount_amount|floatformat:2  }} AZN</p></b>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <form method="POST" action="{% url 'add_to_cart' %}" class="prod-cart-btn">
                                        {% csrf_token %}
                                        <input type="hidden" value={{product.pk}} name="product">
                                        <button type="submit">Səbətə at</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="carousel-item active index-carousel">
                        <img src="{% static 'images/default2.jpg' %}" class="d-block w-100 index-collection-img " alt="default">
                    </div>
                    {% endif %}
                </div>
                {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#carouselBannerFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselBannerFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button> {% endcomment %}
            </div>
        </div>
    </section>
</section>