{% load static %}
<section class="header-container">
    <section class="category">
        <ul class="main-ul">
            {% for category in categories %}
            <li class="category-dropdown">
                <a href="{% url 'products' %}?category={{category.pk}}">
                    {% if category.icon.url is not None %}
                    <img src="{{ category.icon.url }}" alt="category.name">
                    {% endif %}
                    <p>{{ category.name }}</p>
                </a>
                {% if category.children.all.count != 0 %}
                <div class="category-children">
                    <ul class="row">
                        {% for ct in category.children.all %}
                        <li class="col-sm-3">
                            <a href="{% url 'products' %}?category={{ct.pk}}">
                                {% if ct.icon.url is not None %}
                                <img src="{{ ct.icon.url }}" alt="ct.name">
                                {% endif %}
                                <p>{{ ct.name }}</p>
                            </a>
                            <hr>
                            <ul class="category-children-children">
                                {% for c in ct.children.all %}
                                <li>
                                    <a href="{% url 'products' %}?category={{c.pk}}">
                                        {% if c.icon.url is not None %}
                                        <img src="{{ c.icon.url }}" alt="c.name">
                                        {% endif %}
                                        <p>{{ c.name }}</p>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <div class="home-main-categories">
            <p>Əsas Kateqoriyalar:</p>
            <div class="home-main-categories-container">
                {% for category in categories %}
                <a href="{% url 'products' %}?category={{category.pk}}" class="home-main-categories-subcategory">
                    {% if category.icon.url is not None %}
                    <img src="{{ category.icon.url }}" alt="category.name">
                    {% endif %}
                    <p>{{ category.name }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="carousel-wrapper">
        <div class="owl-carousel owl-theme" id="home-banner">
            {% if banners.count != 0 %}
                {% for banner in banners %}
                    <div class="item">
                        <img src="{{banner.image.url}}" alt="{{banner.title}}">
                    </div>
                {% endfor %}
            {% else %}
            <div class="item">
                <img src="{% static 'images/default2.jpg' %}" alt="default">
            </div>
            {% endif %}
        </div>
    </section>
    <section class="offer">
        <div class="offer-head">
            <div class="offer-title-wrapper">
                {% if collection.title is not None %}
                <p>{{collection.title}}</p>
                {% else %}
                <p>Həftənin Təklifi</p>
                {% endif %}
                {% if collection.end_date != None %}
                <input type="datetime" id="coll_end_date" style="display: none;" value="{{collection.end_date|date:"M d, Y H:i:s"}}"/>
                {% endif %}
                <div id="demo"></div>
            </div>
        </div>
        <div class="offer-body">
            <div class="owl-carousel owl-theme" id="home-offer">
                {% if collection_prods|length != 0 %}
                    {% for product in collection_prods %}
                        <div class="offer_product_wrapper" id="{{product.pk}}">
                            <div onclick="location.href='{% url 'product_detail' product.slug %}';">
                                <div class="company_prod_info">
                                    <span class="free_delivery_text">Pulsuz çatdırılma</span>
                                    <span class="offical_guarantee_text">Rəsmi zəmanət</span>
                                </div>
                                <div class="home_prod_img_detail_container">
                                    <img src="{{product.images.first.image.url}}" alt="{{ product.name }}" class="home-product-img" />
                                    <div class="home_prod_detail">
                                        <div>
                                            <h4>
                                                {{ product.name }}
                                            </h4>
                                            {% if product.discount_amount is None %}
                                            <p class="prod_price"><b>{{ product.price }} AZN</b></p>
                                            {% else %}
                                            <p class="prod_del_amount"><del>{{ product.price }} AZN</del></p>
                                            <p class="prod_discoun_amount"><b>{{ product.discount_amount |floatformat:2  }} AZN</b></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="POST" action="{% url 'add_to_cart' %}" class="home-prod-cart-btn">
                                {% csrf_token %}
                                <input type="hidden" value={{product.pk}} name="product">
                                <button type="submit">Səbətə at</button>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="carousel-item active index-carousel">
                    <img src="{% static 'images/default2.jpg' %}" class="d-block w-100 index-collection-img " alt="default">
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</section>