* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px !important;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1 !important;

}

body main {
    min-height: 100vh;
}

a {
    text-decoration: none !important;
    color: #fff;
}

footer {
    background: #012849;
    width: 100%;
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer-div-1 {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    flex-wrap: wrap;
}

.img-1 {
    height: 20em;
    margin-left: 8em;
    margin-right: -4em;
    margin-top: 0.5em;
}

.icon-ul {
    display: flex;
    flex-direction: row;
}

.icon-li {
    list-style-type: none;
    color: white !important;
    font-size: 4.6em;
    margin-right: 0.5em;
    cursor: pointer;
}

.icon-li a {
    color: white !important;
}

.img-2 {
    height: 15em;
    margin-top: 4em;
    margin-right: 15em;
}

.hr-div {
    width: 100%;
}

.footer-hr {
    border-color: wheat;
    margin-top: 2em;
}

.footer-div-p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.5em;
}

.footer-p {
    color: white;
    font-size: 2em;
}

.div-first-a {
    width: 100%;
    position: relative;
}

.first-div {
    width: 100%;
}

.cover-a {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    display: flex;
}

.cover-img-a {
    height: 220px;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.cov-div-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 8em;
}

.cov-div-p-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5em;
    max-width: 70em;
    margin-top: auto;
    margin-bottom: auto;
}

.cov-p-a {
    color: white;
    font-size: 6em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cover-img {
    height: 520px;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.4; */
    border-radius: 0 0 20em 0;
}

.cov-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 22em;
}

.cov-div-p {
    background-color: #012849;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5em;
    width: 70em;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 2em;
    opacity: 0.8;
}

.cov-p {
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cov-button:hover {
    cursor: pointer;
}

.button-p {
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    color: #012849;
}
.products {
    display: flex;
    flex-direction: column;
    border: 1px solid #f5f5f5;
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.section-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-title {
    color: #012849;
    font-size: 4em;
}

.section-title-container-2 {
    color: #cdbb2b;
    font-size: 4em;
    font-weight: 100;
}

.sec-img {
    margin-left: 5em;
    margin-right: 5em;
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.form-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45em;
    margin-left: auto;
    margin-right: auto;
}

.inputs-name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-input {
    height: 1.5em;
    border-radius: 1em;
    width: 13.5em;
    padding: 1em;
    border-width: 0.02em;
}

.name-input:focus {
    outline: none;
}

.name-input::placeholder {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9bec2;
}

.email-input {
    height: 1.5em;
    border-radius: 1em;
    margin-top: 2em;
    padding: 1em;
    border-width: 0.02em;
}

.email-input:focus {
    outline: none;
}

.email-input::placeholder {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9bec2;
}

.input-textarea {
    margin-top: 2em;
    height: 12em;
    border-radius: 1em;
    padding: 1em;
}

.input-textarea:focus {
    outline: none;
}

.input-textarea::placeholder {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9bec2;
}

.contact-button {
    background-color: #012849;
    border: none;
    height: 3.8em;
    width: 11em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 0.3em 0.3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    cursor: pointer;
}

.contact-button-p {
    color: white;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 5em;
}

.pagination a {
    color: black;
    float: left;
    padding: 1em 1.8em;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 0.3em solid #012849;
    margin: 0 0.4em;
}

.pagination a.active {
    background-color: #012849;
    color: white;
    border: 1px solid #012849;
}

.btn-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all ease 0.5s;
}

.message-alert {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 2em;
}

.alert {
    background-color: #d4edda;
    color: #012849;
    padding: 10px;
    border-radius: 5px;
}
.alert-danger {
    background-color: #f8d7da;
    color: #012849;
    padding: 10px;
    border-radius: 5px;
}

.header-container {
    height: 70em;
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

.category {
    width: 30em;
    border: 1px solid #f5f5f5;
    margin-right: 2em;
}

.category p {
    font-size: 3em;
    font-weight: bold;
}

.category ul {
    list-style: none;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
}

.category ul li {
    font-size: 1.4em;
}

.category ul li a {
    display: flex;
    flex-direction: row;
}

.category ul li p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0;
    color: #012849;
}

.category ul li a img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.children {
    position: absolute;
    background-color: #cdbb2b;
    left: 520px;
    top: 120px;
    z-index: 100;
    display: none;
}

.post-carousel {
    width: 80em !important;
    height: 100% !important;
    margin-right: 2em;

}

.index-carousel-img {
    width: 100% !important;
    height: 50em !important;
    object-fit: cover !important;
}

.offer {
    border: 1px solid #f5f5f5;
    display: flex;
    flex-direction: column;
}

.offer-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F8DC20;
    padding-top: 1.2em;
    padding-right: auto;
    padding-left: auto;
}

.offer-head div {
    font-size: 2em;
    color: #012849;
}

.offer-head p {
    font-size: 2em;
    font-weight: bold;
    color: #012849;

}

.offer-body {
    padding: 2em;
    width: 40em;
    display: flex;
    justify-content: center;
}

.btn-more {
    display: inline-block;
    align-self: center;
    text-align: center;
    background-color: #F1F2F3;
    color: #012849;
    width: 100%;
    padding: 15px;
    font-size: 2em;
    font-weight: 700;
}

.btn-more:hover {
    background-color: #012849;
    color: #fff;
    transition: all ease 0.3s;
}

.section-contain {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.partners-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20em;
    border: 1px solid #f5f5f5;
}

.not-found {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    border: 1px solid #f5f5f5;
}

.partners-slide {
    margin-right: 4em;
}

.partners-slide img{
    width: 100%;
    height: 5em;
    object-fit: contain;
}

.product-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70em;
    border: 1px solid #f5f5f5;
}

.home-product-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.home-product-slider div {
    display: flex;
    flex-direction: row;
}

.service-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 60em;
    border: 1px solid #f5f5f5;
}

.service-body div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 870px) {
    footer {
        justify-content: center;
        align-items: center;
    }

    .footer-div {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-div-1 {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .icon-ul {
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .img-1 {
        height: 20em;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    .img-2 {
        height: 15em;
        margin-top: 4em;
        margin-right: 0;
    }

    .cov-div-p {
        height: 3em;
        width: 40em;
    }

    .cov-p {
        font-size: 2em;
    }
}

@media only screen and (max-width: 430px) {
    .cov-div-p {
        height: 2em;
        width: 30em;
    }

    .cov-p {
        font-size: 1em;
    }

    body {
        font-size: 7px;
    }

    .form-div {
        width: 100% !important;
        margin-left: 1em;
        margin-right: 1em;
    }

    .inputs-name {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100% !important;
    }

    .name-input {
        height: 1.5em;
        width: 100%;
        margin-top: 1em;
    }

    .name-input::placeholder {
        font-size: 1.2em;
    }

    .email-input {
        height: 1.5em;
        margin-top: 1em;
        width: 100% !important;
    }

    .email-input::placeholder {
        font-size: 1.2em;
    }

    .input-textarea {
        margin-top: 1em;
        height: 6em;
        width: 100% !important;
    }

    .input-textarea::placeholder {
        font-size: 1.2em;
    }
}
