* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px !important;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1 !important;
}

body main {
    min-height: 100vh;
}

a {
    text-decoration: none !important;
    color: #fff;
}

.home-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    background: #012849;
    width: 100%;
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    flex-wrap: wrap;
    width: 100%;
}

.footer-div-1 {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    flex-wrap: wrap;
}

.footer-div-2 {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.footer-menu-ul {
    list-style: none;
}


.footer-menu-ul li a{
    color: #fff;
    font-size: 2em;
}

.img-1 {
    height: 20em;
    margin-left: 8em;
    margin-right: -4em;
    margin-top: 0.5em;
}

.icon-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icon-ul ul {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.icon-ul p {
    align-self: center;
    color: #fff;
    font-size: 2em;
}

.icon-li {
    list-style-type: none;
    color: white !important;
    font-size: 4em;
    margin-right: 0.5em;
    cursor: pointer;
}

.icon-li a {
    color: white !important;
}

.img-2 {
    height: 15em;
    margin-top: 4em;
    margin-right: 15em;
}

.hr-div {
    width: 100%;
}

.footer-hr {
    border-color: wheat;
    margin-top: 2em;
}

.footer-div-p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.5em;
}

.footer-p {
    color: white;
    font-size: 2em;
}

.div-first-a {
    width: 100%;
    position: relative;
}

.first-div {
    width: 100%;
}

.cover-a {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    display: flex;
}

.cover-img-a {
    height: 220px;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.cov-div-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 8em;
}

.cov-div-p-a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5em;
    max-width: 70em;
    margin-top: auto;
    margin-bottom: auto;
}

.cov-p-a {
    color: white;
    font-size: 6em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cover-img {
    height: 520px;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.4; */
    border-radius: 0 0 20em 0;
}

.cov-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 22em;
}

.cov-div-p {
    background-color: #012849;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5em;
    width: 70em;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 2em;
    opacity: 0.8;
}

.cov-p {
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cov-button:hover {
    cursor: pointer;
}

.button-p {
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
    color: #012849;
}
.products {
    display: flex;
    flex-direction: column;
    border: 1px solid #f5f5f5;
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.section-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-title {
    color: #012849;
    font-size: 4em;
}

.sec-img {
    margin-left: 5em;
    margin-right: 5em;
}

.contact {
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10em;
}

.name-input {
    outline: none;
    border: none;
    border-bottom: 1px solid #012849;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 100%;
}

.name-input:focus {
    outline: none;
}

.name-input::placeholder {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9bec2;
}

.input-textarea {
    margin-top: 2em;
    height: 12em;
    padding: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid #012849;
    font-size: 1.5em;
    width: 100%;
}

.input-textarea:focus {
    outline: none;
}

.input-textarea::placeholder {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b9bec2;
}

.contact-button {
    width: 100%;
    outline: none;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 2em;
    color: #fff;
    background-color: #012849;
    border-radius: 10px;
    box-sizing: border-box;

}

.contact-button:hover {
    color: #012849;
    background-color: #fff;
    border: 1px solid #012849;
    transition: all ease 0.6s;
    box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 1em 1.8em;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 0.3em solid #012849;
    margin: 0 0.4em;
}

.pagination a.active {
    background-color: #012849;
    color: white;
    border: 1px solid #012849;
}

.btn-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all ease 0.5s;
}

.message-alert {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 2em;
    z-index: 1000000;
}

.alert {
    color: #fff !important;
    background-color: #012849 !important;
    padding: 10px;
    border-radius: 5px;
}
.alert-danger {
    background-color: #f8d7da;
    color: #012849;
    padding: 10px;
    border-radius: 5px;
}

.header-container {
    height: 70em;
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    width: 100% !important;
}

.category {
    width: 60em;
    border: 1px solid #f5f5f5;
    margin-right: 2em;
    background-color: #fff;
    border-radius: 10px;
    height: 63em;
    position: relative;
}

.category p {
    font-size: 2em;
    font-weight: bold;
}

.home-main-categories {
    display: none;
}

.main-ul {
    list-style: none;
    padding-top: 3em;
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    list-style: none;
}

.category-dropdown {
    font-size: 1.4em;
    align-self: center;
    width: 100%;
}

.category-dropdown a {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.category-dropdown p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0;
    color: #012849;
}

.category-dropdown a img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.category-dropdown:hover .category-children {
    display: initial;
}

.category-children {
    position: absolute;
    left: 100%;
    top: 0;
    width: 1000px;
    height: 630px;
    display: none;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 10px;
    margin-left: 5px;
}

.category-children-children {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    height: auto;
    justify-content: start !important;
    align-items: flex-start !important;
    margin-top: -10px;
    margin-bottom: 20px;
}

.category-children-children li{
    margin-left: -30px !important;
    font-size: 1em;
}

.post-carousel {
    width: 100% !important;
    margin-right: 2em;
    height: 63em !important;
}

.index-carousel-img {
    height: 63em !important;
    object-fit: cover !important;
    border-radius: 10px;
}

.index-collection-img {
    height: 50em !important;
    object-fit: cover !important;
}

.offer {
    border: 1px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    height: 63em;
    width: 60em;
}

.offer-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F8DC20;
    padding-top: 1.2em;
    padding-right: auto;
    padding-left: auto;
}

.offer-head div {
    font-size: 2em;
    color: #012849;
}

.offer-head p {
    font-size: 2em;
    font-weight: bold;
    color: #012849;

}

.offer-body {
    padding: 2em;
    width: 40em;
    display: flex;
    justify-content: center;
}

.offer_product_wrapper {
    display: flex !important;
    flex-direction: column !important;
    box-sizing: border-box !important;
    height: 60em !important;
}

.btn-more {
    display: inline-block;
    align-self: center;
    text-align: center;
    background-color: #fff;
    color: #012849;
    width: 100%;
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
    border-top: 1px solid #F1F1F1;
    border-radius: 0 0 10px 10px;
}

.btn-more:hover {
    background-color: #012849;
    color: #fff;
    transition: all ease 0.3s;
}

.section-contain {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
    padding-top: 3em;
    background-color: #fff;
    border-radius: 10px;
}

.partners-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20em;
    border: 1px solid #f5f5f5;
}

.not-found {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20em;
    border: 1px solid #f5f5f5;
}

.pattern-slide-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.partners-slide {
    margin-right: 4em;
    width: 100%;
    padding: 2em;
}

.partners-slide img{
    width: 15em;
    height: 6em;
    object-fit: contain;
}

.product-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #f5f5f5;
}

.home-product-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.home-product-slider-prod-carts {
    overflow: auto;
    height: 60em;

}

.home-service-slider {
    overflow: auto;

}

.home-product-slider div {
    display: flex;
    flex-direction: row;
}

.home_prod_container {
    display: flex !important;
    flex-direction: column !important;
    border-radius: 10px !important;
    margin-right: 15px !important;
    cursor: pointer !important;
    border: 1px solid #F1F2F3 !important;
    box-sizing: border-box !important;
    background-color: #fff;
    border-radius: 10px;
    width: 35em;
}

.home_prod_img_detail_container {
    display: flex !important;
    flex-direction: column !important;
}

.home_prod_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.home_prod_detail div {
    display: flex;
    flex-direction: column;
}

.home_prod_detail div h4 {
    font-size: 1.7em;
    font-weight: 500;
}

.home_prod_detail div p {
    font-size: 1.4em;
    margin-top: 10px;
    color: #012849;
}

.home-product-img {
    width: 31em;
    height: 27em;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.home-prod-cart-btn {
    display: flex;
    justify-content: center;
}

.home-prod-cart-btn button {
    text-align: center;
    align-self: center;
    background-color: #012849;
    border: none;
    outline: none;
    color: #fff;
    width: 250px;
    font-size: 1.4em;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 12px;
}

.home-prod-cart-btn button:hover {
    border: 1px solid #012849;
    background-color: #fff;
    color: #012849;
    transition: all ease 0.5s;
}

@media only screen and (max-width: 1140px) {
    .offer {
        width: 40em;
    }

    .offer-head div {
        font-size: 1.4em;
    }

    .offer-head p {
        font-size: 1.4em;
    }

    .offer-body {
        padding: 1.4em;
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    .category {
        position: static;
    }
    .category-children {
        display: none;
    }
    .category-dropdown:hover .category-children {
        display: none;
    }

    .header-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 4em;
        width: 100% !important;
        position: static;
    }

    .post-carousel {
        order: 1;
        width: 100%;
        align-self: center;
        margin-bottom: 20px;
    }

    .category {
        order: 2;
        width: 100%;
        border: 1px solid #f5f5f5;
        background-color: #F1F1F1;
        height: auto;
    }

    .main-ul {
        display: none;
    }
    .home-main-categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-main-categories-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .home-main-categories-subcategory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff;
        color: #012849;
        width: 200px !important;
        margin: 1em 1em;
        border-radius: 10px;
        padding: 2em;
        font-size: 1em;
    }
    
    .home-main-categories-subcategory img{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .home-main-categories-subcategory p{
        font-size: 1.4em;
    }
    .home-main-categories-subcategory span{
        font-size: 1.4em;
    }

    .offer {
        order: 3;
        border: 1px solid #f5f5f5;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        height: 50em;
        width: 100%;
        margin-bottom: 20px;
    }

    .offer-head {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #F8DC20;
        padding-top: 1.2em;
        padding-right: auto;
        padding-left: auto;
    }

    .offer-head div {
        font-size: 2em;
        color: #012849;
    }

    .offer-head p {
        font-size: 2em;
        font-weight: bold;
        color: #012849;

    }

    .offer-body {
        width: 100%;
        display: block;
    }

    .offer_product_wrapper {
        height: 60em !important;
        width: 100%;
    }

    .home_prod_container {
        width: 100% !important; 
        justify-content: center;
        align-items: center;
    }
    
    .home_prod_img_detail_container {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }

    .home_prod_detail {
        width: 100%;
        padding: 20px;
    }
    
    
    .home_prod_detail div {
        display: flex;
        flex-direction: column;
    }
    
    .home_prod_detail div h4 {
        font-size: 1.7em;
        font-weight: 500;
    }
    
    .home_prod_detail div p {
        font-size: 1.4em;
        margin-top: 10px;
        color: #012849;
    }
}
@media only screen and (max-width: 1030px) {
    .footer-div {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;  
        width: 100%;
    }

    .footer-div-1 {
        justify-content: center;
        align-items: center;
    }

    .footer-div-2 {
        margin-bottom: 2em;
    }
    .footer-div-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-menu-ul {
        list-style: none;
    }


    .footer-menu-ul li a{
        color: #fff;
        font-size: 2em;
    }

    .img-1 {
        height: 17em;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0.5em;
    }

    .icon-ul p {
        font-size: 1.8em;
    }

    .icon-li {
        font-size: 3em;
    }

    .img-2 {
        height: 15em;
        margin-top: 0;
        margin-right: 0;
    }

    .hr-div {
        width: 100%;
    }

    .footer-hr {
        border-color: wheat;
        margin-top: 2em;
    }

    .footer-div-p {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        padding: 1.5em;
    }

    .footer-p {
        color: white;
        font-size: 2em;
    }

}

@media only screen and (max-width: 992px) {
    .contact-form {
        width: 100%;
        margin-left: 1em;
        margin-right: 1em;
        padding: 5em;
    }
    
    
    .name-input {
        font-size: 1.2em;
    }

    .input-textarea {
        font-size: 1.2em;
    }

    .contact-button {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 700px) {
    .offer {
        height: auto;
    }
    .home_prod_img_detail_container {
        flex-direction: column !important;
    }
    .footer-div-p {
        font-size: 1.4em;
    }
    
    .footer-p {
        font-size: 1.4em;
    }
    
    .footer-menu-ul li a{
        font-size: 1.4em;
    }
    .icon-li {
        font-size: 2em;
    }

    .cov-p-a {
        font-size: 5em;
    }
}

@media only screen and (max-width: 632px) {
    .cov-p-a {
        font-size: 3em;
    }
}

@media only screen and (max-width: 430px) {
    .cov-div-p {
        height: 2em;
        width: 30em;
    }

    .cov-p {
        font-size: 1em;
    }

    body {
        font-size: 7px;
    }

    .form-div {
        width: 100% !important;
        margin-left: 1em;
        margin-right: 1em;
    }

    .inputs-name {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100% !important;
    }

    .name-input {
        height: 1.5em;
        width: 100%;
        margin-top: 1em;
    }

    .name-input::placeholder {
        font-size: 1.2em;
    }

    .email-input {
        height: 1.5em;
        margin-top: 1em;
        width: 100% !important;
    }

    .email-input::placeholder {
        font-size: 1.2em;
    }

    .input-textarea {
        margin-top: 1em;
        height: 6em;
        width: 100% !important;
    }

    .input-textarea::placeholder {
        font-size: 1.2em;
    }
    
    .home-product-img {
        width: 15em;
        height: 15em;
    }

    .offer-head div {
        font-size: 1.4em;
    }

    .offer-head p {
        font-size: 1.4em;
    }
    
    .offer_product_wrapper {
        height: auto !important;
        width: 100%;
        font-size: 1.2em;
    }
    
    .home_prod_detail div {
        font-size: 1em;

    }
    
    .home_prod_detail div h4 {
        font-size: 1em;
    }
    
    .home_prod_detail div p {
        font-size: 1em;
    }

    .home-prod-cart-btn button {
        width: 150px;
        font-size: 1em;
    }
    
    .section-title {
        font-size: 2em;
    }

    .btn-more {
        font-size: 1.4em;
    }

    .not-found p {
        font-size: 1.4em !important;
    }
    .footer-div-p {
        font-size: 1.2em;
    }
    
    .footer-p {
        font-size: 1.2em;
    }
    
    .footer-menu-ul li a{
        font-size: 1.2em;
    }
    .icon-li {
        font-size: 1.6em;
    }
    
    .cov-p-a {
        font-size: 2em;
    }
}
