{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}Haqqımızda{% endblock title %}

{% block content %}
<div class="div-first-a">
  <div class="cover-a">
    <img class="cover-img-a" src="{% static 'images/cover_img.jpeg' %}" />
  </div>
  <div class="cov-div-a">
    <div class="cov-div-p-a">
      <h2 class="cov-p-a">Haqqımızda</h2>
    </div>
  </div>
</div>
<div class="about-div">
    <img class="about-img" src="{% static 'images/itch-img.jpeg' %}" />
    {{ company.about | safe }}
</div>
{% endblock content %}