{% load i18n %}

{% if services.count == 0 %}
    <div class="not-found">
        <p style="font-size: 2em;">Servis tapılmadı</p>
    </div>
{% else %}
    <div class="service-body" id="service_id">
        <div class="home-product-slider">
            <div>
                {% if page_obj.has_previous %}
                <a hx-get="{% url 'index_services_pagination_view' %}?page={{ page_obj.previous_page_number }}" hx-target="#service_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
                {% else %}
                <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-left"></i></a>
                {% endif %}
            </div>
            <div>
                {% for service in services %}
                <div class="serv_container">
                    <img src="{{ service.image.url }}" alt="{{ service.name }}" class="service-img"/>
                    <div class="serv_detail">
                        <div>
                            <h4>{{ service.name }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div>
                {% if page_obj.has_next %}
                <a hx-get="{% url 'index_services_pagination_view' %}?page={{ page_obj.next_page_number }}" hx-target="#service_id" hx-trigger="click" class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
                {% else %}
                <a class="" style="cursor: pointer; font-size: 2em; margin-left: 1em; margin-right: 1em;"><i class="fa-solid fa-chevron-right"></i></a>
                {% endif %}
            </div>
        </div>
        <a href="{% url 'services' %}" class="btn-more">Bütün xidmətləri gör</a>
    </div>
{% endif %}