{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}CATEGORY{% endblock title %}

{% block content %}
<div class="div-first-a">
    <div class="cover-a">
      <img class="cover-img-a" src="{% static 'images/cover_img.jpeg' %}" />
    </div>
    <div class="cov-div-a">
      <div class="cov-div-p-a">
        <h2 class="cov-p-a">{{ category.name }}</h2>
      </div>
    </div>
</div>
<div class="products-detail-body">
    <div class="product_container">
        <div class="prod-detail-img">
            <img src="{{product.image.url}}" alt="product.name">
        </div>
        <div class="product_detail">
            <div class="product_detail_info">
                <div class="product_detail_info_head">
                    <h3>
                        {{product.name}}
                    </h3>
                    <h3>
                        {{product.price}} AZN
                    </h3>
                </div>
                <hr>
                <div class="product_detail_category">
                    <p>Kateqoriyası:</p>  
                    <span>{{product.category}}</span>
                </div>
                <div class="product_detail_info_body">
                    {{product.description | safe}}
                </div>
                <div class="product_detail_info_btn_group">
                    <form method="POST" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" value={{product.pk}} name="product">
                        <button type="submit" class="product_detail_info_btn_cart">Səbətə at</button>
                    </form>
                    <a href="whatsapp://send?phone={{company.phone}}&text=Salam. Aşağıdakı məhsulu almaq istəyirəm. {{ request.build_absolute_uri }}" class="product_detail_info_btn_buy" target="_blank">Sifariş et</a>
                </div>
            </div>
            <div class="product_detail_attr">
                <p>Xüsusiyyətlər</p>
                {% for attribute in product.attributes.all %}
                <div>
                    <b>{{attribute.title}}:</b>
                    <span>{{attribute.value}}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}