{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}Məhsullar{% endblock title %}

{% block content %}
<div class="div-first-a">
    <div class="cover-a">
      <img class="cover-img-a" src="{% static 'images/cover_img.jpeg' %}" />
    </div>
    <div class="cov-div-a">
      <div class="cov-div-p-a">
        <h2 class="cov-p-a">Məhsullar</h2>
      </div>
    </div>
</div>
<div class="products-container">
    <div class="products-category-nav">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page"><a href="{% url "home" %}">Ana Səhifə</a></li>
              {% if current_category.parent is not None %}
                {% if current_category.parent.parent is not None %}
                    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{current_category.parent.parent.pk}}">{{ current_category.parent.parent.name }}</a></li>
                {% endif %}
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{current_category.parent.pk}}">{{ current_category.parent.name }}</a></li>
              {% endif %}
              <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'products' %}?category={{current_category.pk}}">{{ current_category.name }}</a></li>
            </ol>
        </nav>
    </div>
    <div class="products-datas">
        <div class="products-filter">
            <form action="{% url 'products' %}" method="GET" class="select-form">
                <fieldset>
                    <p>Filter</p>
                    <div class="products-filter-category">
                        <div style="display:none;">
                            {{filter.form.name}}
                        </div>
                        <div style="display:none;">
                            {{filter.form.category}}
                        </div>
                        {{filter.form.attribute_values}}
                    </div>
                </fieldset>
                <button type="submit">Axtar</button>
            </form>
        </div>
        <div class="products-carts">
            <div class="products-div">
                {% if products.count == 0 %}
                    <p style="font-size: 2em; text-align: center;">Məhsul tapılmadı</p>
                {% else %}
                    {% for product in products %}
                    {% include 'product_cart.html' %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&laquo;</span></a>
                {% endif %}
            
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <a href="#" class="active">{{ i }}</a>
                    {% else %}
                        <a href="{% url request.resolver_match.url_name %}?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            
                {% if page_obj.has_next %}
                    <a href="{% url request.resolver_match.url_name %}?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"><span aria-hidden="true">&raquo;</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
  {% endblock content %}