{% load static %}
<div class="product_wrapper" id="{{product.pk}}">
    <div onclick="location.href='{% url 'product_detail' product.slug %}';" class="prod_container">
        <span class="free_delivery_text">Pulsuz çatdırılma</span>
        <img src="{{product.image.url}}" alt="{{ product.name }}" class="product-img" />
        <div class="prod_detail">
            <div>
                <h4>
                    {{ product.name }}
                </h4>
                <p>{{product.discount_amount}}</p>
                {% if product.discount_amount is None %}
                <b><p>{{ product.price }} AZN</p></b>
                {% else %}
                <del><p>{{ product.price }} AZN</p></del>
                <b><p>{{ product.discount_amount |floatformat:2  }} AZN</p></b>
                {% endif %}
            </div>
        </div>
        <form method="POST" action="{% url 'add_to_cart' %}" class="prod-cart-btn">
            {% csrf_token %}
            <input type="hidden" value={{product.pk}} name="product">
            <button type="submit">Səbətə at</button>
        </form>
    </div>
    <div class="prod-attr">
        {% for attribute in product.attributes.all %}
            {% for attribute_value in attribute.attribute_values.all %}
                {% if attribute_value.attribute.show_cart == True %}
                <div>
                    <b>{{attribute_value.attribute}}:</b>
                    <span>{{attribute_value.value}}</span>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>