{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
<div class="div-first-a">
    <div class="cover-a">
      <img class="cover-img-a" src="{% static 'images/cover_img.jpeg' %}" />
    </div>
    <div class="cov-div-a">
      <div class="cov-div-p-a">
        <h2 class="cov-p-a">{{ product.name }}</h2>
      </div>
    </div>
</div>
<div class="products-varieties">
    <div class="product_container">
        <img src="{{product.image.url}}" alt="product.name">
        <div class="product_detail">
            <div class="product_detail_head">
                <h3>
                    {{product.name}}
                </h3>
                <h3>
                    {{product.price}} AZN
                </h3>
            </div>
            <p>
                <b>Kateqoriyası:</b>  {{product.category}}
            </p>
            <div class="product_detail_body">
                {{product.description | safe}}
            </div>
            <a href="whatsapp://send?phone={{company.phone}}&text={{ request.build_absolute_uri }}" target="_blank">Sifariş Et</a>
        </div>
    </div>
</div>
  {% endblock content %}